<ion-toolbar>

    <ion-row class="ion-align-items-center">
      <ion-label >Me senti:</ion-label>
    </ion-row>

    <ion-grid *ngFor="let pregunta of quiz1">

      <ion-row class="ion-justify-content-center">
        <ion-label>{{pregunta.Preguta}}</ion-label>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <!-- <ion-col *ngFor="let check of checks; let i = index" class="ion-align-self-center" (click)="onClick(check)">
          <ion-label class="ion-text-center">{{i + 1}}</ion-label>
          <ion-checkbox [color]="check.name"></ion-checkbox>
        </ion-col> -->
      </ion-row>

    </ion-grid>

    <ion-list>
      <ion-radio-group>  

        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label>Cord</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>
          </ion-col>
          
          <ion-col>
            <ion-item>
              <ion-label>Duesg</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
              <ion-item>
                <ion-label>Dueg</ion-label>
                <ion-radio value="duesenberg2"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
                <ion-item>
                  <ion-label>Berg</ion-label>
                  <ion-radio value="duesenberg4"></ion-radio>
                </ion-item>
            </ion-col>

        </ion-row>

      </ion-radio-group>
    </ion-list>


</ion-toolbar>