<ion-header no-border>
    <ion-toolbar>
  
     <ion-buttons slot="start">
       <ion-button (click)="noArguments()" fill="outline">Cancelar</ion-button>
     </ion-buttons>
  
      <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="contact"></ion-icon>
            <ion-label>Bryan</ion-label>
          </ion-button>
      </ion-buttons>
  
   </ion-toolbar>
  
  </ion-header>

  <!-- Comienza contents -->

<ion-content>

    <form [formGroup]="registro" (ngSubmit)="onSubmitTemplate()">

      <ion-list>
    
        <ion-item>
          <ion-label position="floating">Nombres:</ion-label>
          <ion-input name="nombresUsuario"
                     formControlName="nombresUsuario"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Apellido Paterno:</ion-label>
            <ion-input name="APAUsuario"
                       formControlName="APAUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Materno:</ion-label>
          <ion-input name="AMAUsuario"
                     formControlName="AMAUsuario"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <ion-input name="correoUsuario"
                       formControlName="correoUsuario"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Usuario:</ion-label>
            <ion-input name="nicknameUsuario"
                       formControlName="nicknameUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Imagen:</ion-label>
          <ion-input name="imagenUsuario"
                     formControlName="imagenUsuario"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Cotraseña:</ion-label>
            <ion-input name="contrasenaUsuario"
                       formControlName="contrasenaUsuario"></ion-input>
        </ion-item>
    
      </ion-list>

      <ion-button expand="full" color="primary" type="submit" [disabled]="registro.invalid">Registrar</ion-button>
    </form>

    <ion-button expand="full" color="primary" type="submit" (click)="prueba()">Registrar</ion-button>

</ion-content>
