
#map{
    height: 40%;
    width: 100%;
    display: block;
  }

#inpu{
    width: 100%;
    display: block;
    border-color: white;
    border: 0px;
    border-bottom: solid;
  }

 #dir{
    font-weight: bold; 
  }

.toast {
  text-align: center !important;
}

.inputMap {
  margin-bottom: 10px;
}
   