<!-- <ion-header no-border>
  <ion-toolbar color="primary">

    <ion-title>
      Bienvenido
    </ion-title>

    <ion-buttons slot="end">
        <ion-button>
          <ion-label>{{ usuario }}</ion-label>
        </ion-button>
    </ion-buttons>

 </ion-toolbar>

</ion-header> -->

<app-header titulo = "¿Como estas?"></app-header>

 <!-- ***COMIENZA CONTENT*** -->
<ion-content class="content">
  
  <ion-card color="light" mode="ios">

    <ion-card-header text-center> <ion-label text-center class="bold">Crear Publicación</ion-label> </ion-card-header>

  </ion-card>

  <ion-card  color="medium" mode="ios" class="card1">

      <form [formGroup]="validacion" (ngSubmit)="onSubmitTemplate()">
      
        <ion-list>

          <ion-item>
            <ion-label position="floating">¿Que sucedio?</ion-label>
            <ion-input type="text" name="nombreEvento" formControlName="titulo" [(ngModel)]="evento.NombreEvento" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">¿Como fue?</ion-label>
            <ion-input type="text" name="descripcion" formControlName="contenido" [(ngModel)]="evento.Descripcion" ></ion-input>
          </ion-item>
          
          <!-- El siguiente item solo aparece cuando la bandera de amigo ya no esta en false -->
          <ion-item *ngIf="amigoFlag">
            <ion-label >Con:</ion-label>
            <ion-button (click)="openFriends()" style="margin-right: 80px" fill="outline"> {{da.event.nombresUsuario}} </ion-button>
            <ion-avatar slot="start" class="border">
              <img [src]="amigo.img">
            </ion-avatar>
          </ion-item>
    
          <!-- Seccion de emoji y camara -->
          <ion-row>
  
            <ion-col *ngIf="!emojiFlag">
              <ion-item>
                <ion-button fill="outline" (click)="mostrarPop( $event )">Fue:(Selecciona una emocion)</ion-button>
              </ion-item>
            </ion-col>
  
            <ion-col *ngIf="emojiFlag">
              <ion-item>

                <ion-avatar slot="end">
                  <img [src]="dat.item.img" class="emoji">
                </ion-avatar>

                <ion-label>Fue:</ion-label>

                <ion-button fill="outline" (click)="mostrarPop( $event )"> {{ dat.item.nombre }} </ion-button>

              </ion-item>

            </ion-col>
  
            <ion-col>
                <ion-button (click)="takePicture()">
                    <ion-icon slot="icon-only" name="camera"></ion-icon>
                </ion-button>
                <img *ngIf="image" [src]="image" alt="image">
            </ion-col>
            
          </ion-row>

      </ion-list>
      
   </form>
      

  </ion-card>

  <!-- Seccion de botones -->
  <ion-row>

    <!-- Desaparece cuado amigoFlag esta en true, por defecto esta en false vet home.page.ts -->
      <ion-col *ngIf="!amigoFlag">
          <ion-button expand="full" color="danger" fill="solid" (click)="openFriends()">Etiquetar a alguien</ion-button>
      </ion-col>
<!-- 
      <ion-col>
          <ion-button expand="full" color="primary" type="submit" (click)="onSubmitTemplate()" [disabled]="validacion.invalid">Publicar</ion-button>
      </ion-col> -->
      <!-- <ion-col>
        <ion-button expand="full" color="primary" type="submit" (click)="prueba()" [disabled]="validacion.invalid">Publicar</ion-button>
      </ion-col> -->
   </ion-row>

   <ion-content padding id="inpu" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places">

    <ion-card color="light" mode="ios">

        <ion-card-header text-center> <ion-label text-center class="bold">Escribe en donde ocurrio</ion-label> </ion-card-header>
    
    </ion-card>

    <input id="inpu" 
           ngx-google-places-autocomplete [options]='options' 
           #placesRef="ngx-places" 
           (onAddressChange)="handleAddressChange($event)" 
           [(ngModel)]="evento.Lugar_idLugar"
           class="inputMap"/>
    
    <ion-row *ngIf="evento.Lugar_idLugar.length > 0">
      <ion-col>
       <p class="ion-text-center">Fue en: </p>
      </ion-col>
      <ion-col>
       <p id="dir"> {{evento.Lugar_idLugar}}</p>
      </ion-col>
    </ion-row>

    <div id="map"></div>

    <ion-col>
       <ion-button expand="full" color="primary" type="submit" (click)="publicar()" [disabled]="validacion.invalid">Publicar</ion-button>
    </ion-col>

  </ion-content>
  
</ion-content>
