<app-header titulo = "Usuarios disponibles"></app-header>

<ion-content>

  <!-- Creamos una referencia con el hash para usar un viewChild en el ts -->
  <ion-list #lista>

    <!-- Cuando se usa item-sliding el que se duplica es el sliding y no el item -->
    <ion-item-sliding *ngFor="let friend of friends">
      <!-- Use el pipe async por que el ngFor solo funciona el arreglos pero estoy usando un Observable -->
      <ion-item >
        <ion-label>{{ friend.nombresUsuario }}</ion-label>
        <ion-avatar slot="start">
          <img [src]="amigo.img">
        </ion-avatar>
      </ion-item>

      <!-- <ion-item-options side="start">
          <ion-item-option (click)="favorite( friend )">Agregar</ion-item-option>
          <ion-item-option color="danger" (click)="share( friend )">Ver</ion-item-option>
      </ion-item-options> -->

    </ion-item-sliding>
    
  </ion-list>

</ion-content>